APP_NAME=MROCars
APP_KEY=
APP_URL=
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
NODE_ENV=development
SESSION_DRIVER=cookie
TZ=UTC
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=mrocars-local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=no-reply@mrocars.com
DRIVE_DISK=local
FRONTEND_URL=
JWT_SECRET="K#:r.knG6PpCCB2NHc8pm&LOM!Qn*NZh%Ev=Nh"
LIMITER_STORE=memory
UPLOAD_DIR=
